.version.contact /* version checker */
{
	color: #0000E1;
	background-color: #7EB22A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 347px;
	min-height: 966.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 20px;
	width: 0.01px;
}

#ppu798
{
	width: 0.01px;
	margin-left: 23px;
}

#pu798
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 256px;
}

#u798
{
	z-index: 0;
	width: 152px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu637
{
	width: 0.01px;
	position: relative;
	left: 7px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 25px;
}

#u637
{
	z-index: 111;
	width: 94px;
	margin-left: 26px;
}

#u639-9
{
	z-index: 113;
	width: 140px;
	min-height: 67px;
	margin-top: 5px;
}

#u635-8
{
	z-index: 75;
	width: 200px;
	margin-right: -10000px;
	margin-top: 246px;
	left: 102px;
}

#u636-28
{
	z-index: 83;
	width: 238px;
	min-height: 252px;
	margin-right: -10000px;
}

#u633
{
	z-index: 74;
	width: 401px;
	min-height: 242px;
	margin-left: 29px;
	margin-top: 8px;
}

#u748
{
	z-index: 122;
	min-height: 108px;
	padding-bottom: 6px;
}

#u791
{
	z-index: 133;
	width: 80px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 42px;
}

#pu749-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 125px;
}

#u749-4
{
	z-index: 123;
	width: 200px;
}

#pu774
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 5px;
}

#u774
{
	z-index: 129;
	margin-bottom: -4px;
	width: 68px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u779
{
	z-index: 131;
	margin-bottom: -6px;
	margin-right: -10000px;
	left: 99px;
}

#u768
{
	z-index: 127;
	margin-right: -10000px;
	margin-top: 33px;
	left: 353px;
}

#u748-bw
{
	z-index: 122;
	min-height: 108px;
	margin-top: 3px;
}

#pu797
{
	width: 0.01px;
}

#u797
{
	z-index: 3;
	min-height: 40px;
	padding-bottom: 360px;
}

#u631-4
{
	z-index: 70;
	width: 200px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 129px;
}

#u797-bw
{
	z-index: 3;
	min-height: 40px;
}

#widgetu610
{
	z-index: 4;
	width: 0.01px;
	height: 332px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 59px;
}

#widgetu627
{
	z-index: 5;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu627.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u630-4
{
	z-index: 6;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u629-4
{
	z-index: 10;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu627:hover #u629-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu627.focus-st #u629-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu613
{
	z-index: 14;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 66px;
	left: -1px;
}

#widgetu613.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u615-4
{
	z-index: 15;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u616-4
{
	z-index: 19;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu627.fld-err-st #u629-4,#widgetu613:hover #u616-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu613.focus-st #u616-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u611-4
{
	z-index: 23;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 140px;
}

#u612-4
{
	z-index: 27;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 140px;
}

#u626-4
{
	z-index: 31;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 140px;
}

#widgetu610.frm-sub-st #u611-4,#widgetu610.frm-subm-err-st #u612-4,#widgetu610.frm-subm-ok-st #u626-4
{
	min-height: 25px;
}

#u621-17
{
	z-index: 35;
	min-height: 39px;
	width: 143px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 295px;
	left: 104px;
}

#widgetu617
{
	z-index: 52;
	width: 342px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 124px;
	left: -1px;
}

#widgetu617.fld-err-st
{
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 124px -10000px 0px 0px;
}

#u618-4
{
	z-index: 53;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u619-4
{
	z-index: 57;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu617:hover #u619-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu617.focus-st #u619-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu617.fld-err-st #u619-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu617_input,#widgetu617_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu622
{
	z-index: 61;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 236px;
	left: -1px;
}

#widgetu622.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 236px -10000px 0px 0px;
}

#u625-4
{
	z-index: 62;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu627.fld-err-st #u630-4,#widgetu613.fld-err-st #u615-4,#widgetu617.fld-err-st #u618-4,#widgetu622.fld-err-st #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u624-4
{
	z-index: 66;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu613.fld-err-st #u616-4,#widgetu622:hover #u624-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu622.focus-st #u624-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu622.fld-err-st #u624-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu627_input,#widgetu627_prompt,#widgetu613_input,#widgetu613_prompt,#widgetu622_input,#widgetu622_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#widgetu627:hover #widgetu627_input,#widgetu627.focus-st #widgetu627_input,#widgetu627.fld-err-st #widgetu627_input,#widgetu627:hover #widgetu627_prompt,#widgetu627.focus-st #widgetu627_prompt,#widgetu627.fld-err-st #widgetu627_prompt,#widgetu613:hover #widgetu613_input,#widgetu613.focus-st #widgetu613_input,#widgetu613.fld-err-st #widgetu613_input,#widgetu613:hover #widgetu613_prompt,#widgetu613.focus-st #widgetu613_prompt,#widgetu613.fld-err-st #widgetu613_prompt,#widgetu617:hover #widgetu617_input,#widgetu617.focus-st #widgetu617_input,#widgetu617.fld-err-st #widgetu617_input,#widgetu617:hover #widgetu617_prompt,#widgetu617.focus-st #widgetu617_prompt,#widgetu617.fld-err-st #widgetu617_prompt,#widgetu622:hover #widgetu622_input,#widgetu622.focus-st #widgetu622_input,#widgetu622.fld-err-st #widgetu622_input,#widgetu622:hover #widgetu622_prompt,#widgetu622.focus-st #widgetu622_prompt,#widgetu622.fld-err-st #widgetu622_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

body
{
	position: relative;
	min-width: 347px;
}

