.version.dvd /* version checker */
{
	color: #0000FA;
	background-color: #62CE62;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 460px;
	min-height: 631px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	width: 0.01px;
}

#pu1130
{
	width: 0.01px;
	margin-left: 20px;
}

#u1130
{
	z-index: 2;
	width: 420px;
	margin-right: -10000px;
	margin-top: 41px;
}

#u1130_clip
{
	width: 420px;
	height: 464px;
}

#u1130_img
{
	margin-left: -12px;
	margin-right: -11px;
}

#u1124
{
	z-index: 4;
	margin-right: -10000px;
	left: 160px;
}

#u885-6
{
	z-index: 7;
	width: 333px;
	min-height: 47px;
	margin-right: -10000px;
	margin-top: 350px;
	left: 52px;
}

#widgetu1094
{
	z-index: 17;
	width: 0.01px;
	height: 453px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 28px;
}

#widgetu1107
{
	z-index: 18;
	width: 387px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1107.fld-err-st
{
	width: 387px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1108-4
{
	z-index: 19;
	width: 386px;
	min-height: 28px;
	margin-right: -10000px;
	left: 1px;
}

#u1109-4
{
	z-index: 23;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1107:hover #u1109-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1107.focus-st #u1109-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1095
{
	z-index: 27;
	width: 387px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu1095.fld-err-st
{
	width: 387px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1097-4
{
	z-index: 28;
	width: 386px;
	min-height: 28px;
	margin-right: -10000px;
	left: 1px;
}

#u1098-4
{
	z-index: 32;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1107.fld-err-st #u1109-4,#widgetu1095:hover #u1098-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1095.focus-st #u1098-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u1099-4
{
	z-index: 36;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 418px;
	left: 140px;
}

#u1105-4
{
	z-index: 40;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 418px;
	left: 140px;
}

#u1100-4
{
	z-index: 44;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 418px;
	left: 140px;
}

#widgetu1094.frm-sub-st #u1099-4,#widgetu1094.frm-subm-err-st #u1105-4,#widgetu1094.frm-subm-ok-st #u1100-4
{
	min-height: 25px;
}

#u1106-17
{
	z-index: 48;
	min-height: 36px;
	width: 146px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 418px;
	left: 111px;
}

#widgetu1101
{
	z-index: 65;
	width: 387px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 252px;
	left: -1px;
}

#widgetu1101.fld-err-st
{
	width: 387px;
	height: 101px;
	min-height: 0px;
	margin: 252px -10000px 0px 0px;
}

#u1104-4
{
	z-index: 66;
	width: 386px;
	min-height: 28px;
	margin-right: -10000px;
	left: 1px;
}

#u1102-4
{
	z-index: 70;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1101:hover #u1102-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1101.focus-st #u1102-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1101.fld-err-st #u1102-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1101_input,#widgetu1101_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu1111
{
	z-index: 74;
	width: 387px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 189px;
	left: -1px;
}

#widgetu1111.fld-err-st
{
	width: 387px;
	height: 47px;
	min-height: 0px;
	margin: 189px -10000px 0px 0px;
}

#u1114-4
{
	z-index: 75;
	width: 386px;
	min-height: 28px;
	margin-right: -10000px;
	left: 1px;
}

#u1112-4
{
	z-index: 79;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1095.fld-err-st #u1098-4,#widgetu1111:hover #u1112-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1111.focus-st #u1112-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1115
{
	z-index: 83;
	width: 387px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu1115.fld-err-st
{
	width: 387px;
	height: 47px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u1117-4
{
	z-index: 84;
	width: 386px;
	min-height: 28px;
	margin-right: -10000px;
	left: 1px;
}

#u1118-4
{
	z-index: 88;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1111.fld-err-st #u1112-4,#widgetu1115:hover #u1118-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1115.focus-st #u1118-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1119
{
	z-index: 92;
	width: 387px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 362px;
	left: -1px;
}

#widgetu1119.fld-err-st
{
	width: 387px;
	height: 47px;
	min-height: 0px;
	margin: 362px -10000px 0px 0px;
}

#u1121-4
{
	z-index: 93;
	width: 386px;
	min-height: 28px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1107.fld-err-st #u1108-4,#widgetu1095.fld-err-st #u1097-4,#widgetu1101.fld-err-st #u1104-4,#widgetu1111.fld-err-st #u1114-4,#widgetu1115.fld-err-st #u1117-4,#widgetu1119.fld-err-st #u1121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 386px;
	margin: 0px -10000px 0px 0px;
}

#u1122-4
{
	z-index: 97;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1115.fld-err-st #u1118-4,#widgetu1119:hover #u1122-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1119.focus-st #u1122-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1119.fld-err-st #u1122-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1107_input,#widgetu1107_prompt,#widgetu1095_input,#widgetu1095_prompt,#widgetu1111_input,#widgetu1111_prompt,#widgetu1115_input,#widgetu1115_prompt,#widgetu1119_input,#widgetu1119_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1107:hover #widgetu1107_input,#widgetu1107.focus-st #widgetu1107_input,#widgetu1107.fld-err-st #widgetu1107_input,#widgetu1107:hover #widgetu1107_prompt,#widgetu1107.focus-st #widgetu1107_prompt,#widgetu1107.fld-err-st #widgetu1107_prompt,#widgetu1095:hover #widgetu1095_input,#widgetu1095.focus-st #widgetu1095_input,#widgetu1095.fld-err-st #widgetu1095_input,#widgetu1095:hover #widgetu1095_prompt,#widgetu1095.focus-st #widgetu1095_prompt,#widgetu1095.fld-err-st #widgetu1095_prompt,#widgetu1101:hover #widgetu1101_input,#widgetu1101.focus-st #widgetu1101_input,#widgetu1101.fld-err-st #widgetu1101_input,#widgetu1101:hover #widgetu1101_prompt,#widgetu1101.focus-st #widgetu1101_prompt,#widgetu1101.fld-err-st #widgetu1101_prompt,#widgetu1111:hover #widgetu1111_input,#widgetu1111.focus-st #widgetu1111_input,#widgetu1111.fld-err-st #widgetu1111_input,#widgetu1111:hover #widgetu1111_prompt,#widgetu1111.focus-st #widgetu1111_prompt,#widgetu1111.fld-err-st #widgetu1111_prompt,#widgetu1115:hover #widgetu1115_input,#widgetu1115.focus-st #widgetu1115_input,#widgetu1115.fld-err-st #widgetu1115_input,#widgetu1115:hover #widgetu1115_prompt,#widgetu1115.focus-st #widgetu1115_prompt,#widgetu1115.fld-err-st #widgetu1115_prompt,#widgetu1119:hover #widgetu1119_input,#widgetu1119.focus-st #widgetu1119_input,#widgetu1119.fld-err-st #widgetu1119_input,#widgetu1119:hover #widgetu1119_prompt,#widgetu1119.focus-st #widgetu1119_prompt,#widgetu1119.fld-err-st #widgetu1119_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u887
{
	z-index: 6;
	min-height: 89px;
	padding-bottom: 21px;
}

#u887_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 460px;
	left: -100px;
	margin-bottom: -4px;
}

#u923-4
{
	z-index: 13;
	width: 389px;
	min-height: 74px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 125px;
}

#u887-bw
{
	z-index: 6;
	min-height: 89px;
	margin-top: -4px;
}

body
{
	position: relative;
	min-width: 460px;
}

